/** universal selector **/

*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
}

/** 1.navbar **/
.navbar{
    height: 80px;
    width: 1900px;
    background-color: #4E4E56;
    display: flex;  
    align-items: center;
    
    

}
.logo{
    color: white;
    margin-left: 380px;
    font-size: 22px;
}
.nav-list-ul{
    display: flex;
    justify-content: space-evenly;
    margin-left: 300px;
 
}
.nav-list a{
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 14px;
}
.tab1{
    padding: 1px;
    color: aqua;
    border: 1px solid aqua;
   
}
.border{
    border: 1px solid transparent;
    
}
.border:hover{
    border: 2px solid white;
}
.nav-list li{
    list-style: none;
}
/** 2.hero-section **/
.hero-section{
    height: 660px;
    background-image: url('/Images/hero_section1.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.slide{
    width: 100%;
    height: 100%;
    transition: 1s;
    position: absolute;
}
.hero-txt{
    margin-left: 380px;
    padding-top: 255px;
    margin-right: 875px;
    position: relative;
}
.hero-txt-heading{
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
}
.hero-heading-subdata{
    font-size: 0.9rem;
    font-weight: 200;
   padding-top:10px;
   color: black
}
.hero-btn{
    margin-top: 10px;
    padding: 5px;
}
.btn-prop{
    padding: 8px;
    font-weight: 600;
}
.btn-prop:hover{
    background-color: aqua;
}
.carsol-btn{
    margin-left: 80%;
    position: relative;
    margin-top: 240px;
    font-size: 1rem;
    padding: 2px;
    font-weight: 400;
}
.carsol-btn:hover{
    color: aqua;
}
/** 3.about-section **/
.about-section{
    height: 615px;
    background-color: aliceblue;
}
.about-heading{
    font-size: 1.3rem;
    font-weight: 600;
    padding-top: 85px;
    margin-left: 380px;
}
.about-heading-part1{
    margin-top: 65px;
    margin-right: 865px;
    margin-left: 380px;
}
.about-heading-part2 {
    margin-right: 865px;
    margin-left: 380px;
}
.about-container{
    display: block;
    margin-top: -400px;
    margin-left: 1063px;
}
.about-container-icon{
    display: flex;
    margin-left: 380px;
    margin-top: 40px;
}

.head-box{
    /* height: 50px;
    width: 50px;
    border: 2px solid black; */
    margin-top: 60px;
    text-align: center;
    align-self: center;
    padding: 2px;
    /* border: 2px solid black; */
   
}
.icon-box1{
    background-color: azure;
}
.icon-box1:hover{
    background-color: rgb(191, 187, 187);
}
/**error**/
.about-box1{
    margin-left: -800px;
  /* text-align: center; */
}
.box1-heading{
    margin-left: 70px;
    margin-top: -55px;
    font-size: 1rem;
    font-weight: 600;
}
.box1-head-content{
    margin-left: 70px;
    margin-top: 10px;
    margin-right: 250px;
}

/** 4.work-section **/
.work-section{
    height: 900px;
    background-color: #4E4E56;
}
.work-heading{
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 380px;
    padding-top: 90px;
    color: white;
}
.work-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    margin-left: 380px;
    margin-top: 60px;
}
.work-box1{
    height: 260px;
    width: 360px;
    border: 2px solid black;
    margin-right: 30px;
    margin-top: 30px;
}
.work-img1{
    height:260px;
    width: 360px;
    background-size: cover;
}
.work-img1-name{
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 230px;
    color: transparent;
    margin-left: 10px;


}
.work-img1-name:hover{
    color: white;
}
.work-img1:hover{
    height: 220px;
    width:360px ;
}
.work-show-more-btn{
    margin-left: 820px;
    padding-top: 60px;
    font-size: 45px;
    padding: 20px;
}
.btn-show-more{
    font-size: 25px;
    padding: 8px;
    background-color: #4E4E56;
    color: white;
    border: 2px solid black;
}

/** 5.team-section **/
.team-section{
    height: 650px;
    background-color: aliceblue;
}
.team-heading{
    margin-left: 380px;
    color: black;
    padding-top: 70px;
    font-size: 1.3rem;
    font-weight: 600
}
.team-container{
    display: flex;
    margin-left: 380px;
    margin-top: 70px;
    
}
.team-box1{
    height: 370px;
    width: 260px;
    border: 2px solid black;
    margin-right: 30px;
}
.team-box1:hover{
    background-color:black;
    color: white;
}
.team-mem-img{
    height: 300px;
    width:260px ;
    background-size: cover;
   
}

.team-mem-img-name{
    font-size: 1.1rem;
    font-weight: 600;
    padding-top: 180px ;
    margin-left: 10px;
}
.team-prof{
    margin-top: 5px;
    margin-left: 10px;
    font-size: 0.9rem;
    font-weight: 500;
}
.team-container-icon{
    display: flex;
   padding-top: 50px;
   margin-left: 40px;
   color: transparent;
  
}
.team-container-icon:hover{
    color: black;
}
.team-head-box{
    /* height: 50px;
    width: 50px;
    border: 2px solid black; */
    margin-top: 60px;
    text-align: center;
    align-self: center;
    padding: 2px;
   
}

.team-icon-box1{
    /* background-color: azure; */
}


/** 6.services-section **/
.services-section{
    height: 900px;
    background-color: aliceblue;
}
.service-heading1{
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 440px;
    padding-top: 80px;
}

.do-section{
    margin-left: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.do-sec-head{
    padding-top: 20px;
    font-size: 1.2rem;
    font-weight: 400;
}
.do-sub-heading{
   padding-top: 20px;
   font-size: 0.9rem;
}
.main-sec-box{
    margin-right: 150px;
    margin-top: 80px;
    /* margin-left: 10px; */
    /* border: 1px solid black; */
    height:200px ;
    width: 200px;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    justify-content: center;
    text-align: center;
}
/** 7.feature-section **/
.feature-section{
    height: 730px;
    background-color: #4E4E56;
}
.feature-head{
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    margin-left: 380px;
    padding-top: 90px;
}
.feature-box-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 380px;
    justify-content: space-evenly;
    margin-right: 360px;
    padding-top: 70px;
}

.feature-box1{
    height: 440px;
    width: 360px;
    /* border: 2px solid white;  */
}
.feature-img{
    height:240px;
    width:360px ;
    background-size: cover;
}
.img-info-header{
    padding-top: 55px;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
}
.img-info-subcontent{
    padding-top:30px ;
    font-size: 0.9rem;
    color: white;
}
/** 8.contact-us-section **/
.contact-us-section{
    height: 870px;
    color: white;
}
/** used same for contactinfo **/
.contact-us-heading{
    margin-left: 380px;
    padding-top: 70px;
    font-size: 1.3rem;
    font-size: 600;
    color: black;
    font-weight: 600; 
}
.map{
    padding-top: 70px;
    width: 1800;
    margin-left: 10px;
    margin-right: 10px;
}
.contact-us-subheading{
    margin-left: 380px;
    padding-top: 50px;
    color: black;
    margin-right: 980px;
}
.contact-msg{
    height: 380px;
    width: 560px;
    background-color: aliceblue;
    border: 2px solid black;
    margin-left: 960px;
    margin-top: -400px;
    position: relative;
    color: black;
}
.form-msg{
    padding: 10%;
}

/**  9.footer-section **/
.footer-section{
    height: 90px;
    background-color: #4E4E56;
    color: white;
    display: flex; 
    align-items: center;
}
.copyright{
    font-size: 0.8rem;
    
    margin-left: 380px;
   
}
.icon{
    display: flex;
    margin-left: 600px;
}
.icon-style{
    padding: 2px;
    color: white;
}